<!doctype html>
<html lang="en">
<meta charset="utf-8">
<title>{% if doc.title %}{{doc.title}} | {% endif %}stevenle</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<link href="//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700" rel="stylesheet">
<link href="/css/sl.min.css" rel="stylesheet">

<body>
  <header>
    <div class="sl-container">
      <img alt="stevenle" class="sl-avatar" src="/images/stevenle-192.jpg" height="96" width="96">
      <h1>stevenle</h1>
    </div>
  </header>

  <section class="sl-main">
    <div class="sl-container">
      {{doc.html|safe}}
    </div>
  </section>

  <footer>
    <div class="sl-container">
      <ul class="sl-links">
        <li><a href="https://twitter.com/stevenle08"><i class="sl-icon sl-twitter"></i></a></li>
        <li><a href="https://github.com/stevenle"><i class="sl-icon sl-github"></i></a></li>
      </ul>
    </div>
  </footer>
</body>

</html>
